.back-container{
    background-color: black;
    border-top: 4px;
    border-right:4px;
    border-bottom: 9px;
    border-left:9px;
    border-style: solid;
    width:100%;
    height:700px;
    position: relative;
    border-top-color: #f4d03f;
    border-left-color: #f4d03f;
    border-right-color: white;
    border-bottom-color: white;
}
.content{
    position: absolute;
    top:300px;
}
.top-container{
    position: absolute;
    top:15px;
    left:20px;
    width:1504px;
    height:280px;
    background-color: #f4d03f;
    text-align: center;
}
img{
    margin-top: 30px;
    margin-bottom: 0;
}
.sat{
    color:white;
    font-size:3em ;
    margin-left: 30px;
}
.sale{
    color:white;
    font-size: 1.7em;
}
.more{
    color:#f4d03f;
    margin-left: 30px;
}
.p1{
    color:#f4d03f;
    font-size: 1.5em;
    margin-left: 30px;
}
.time{
    color: #f4d03f;
    font-size:3em ;
    margin-left: 50px;
    margin-bottom: 100px;
}
.p2{
    color:white;
    font-size: 1.5em;
    margin-left: 50px;
}
.t1{
    color:black;
    margin-bottom: 0;
    font-size: 1.7em;
}